<template>
    <div class="slds-grid slds-wrap slds-gutters galeria slds-align_absolute-center">
        <template if:true={hayJuegos}>
            <template for:each={listaJuegos} for:item="juego">
                <lightning-card class="card-galeria slds-card slds-col slds-size_1-of-4" key={juego.Id} title={juego.Name}>
                    <image class="imagen-galeria" src={juego.URL_Imagen__c} />
                    <p>{juego.Precio__c}€</p>
                    <lightning-button class="slds-button" label="Dame" onclick={addProductToCartJs}></lightning-button>
                </lightning-card>
            </template>
        </template>
    </div>
</template>