<template>
    <template if:true={clienteSeleccionado}>
        <div class="slds-clearfix">
            <div class="slds-float_right" oncarritoupdated={updateCarritoItemCountJs}>
                <lightning-icon icon-name="utility:cart" alternative-text="Carrito"></lightning-icon>
                <span class='badge badge-warning lblCartCount'>{carritoitemcount}</span>
            </div>
        </div>
    </template>
</template>