.contenedor button {
    margin-top: 1.4em;
    margin-right: 1.8em;
}

.contenedor {
    margin-top: 1em;
}

.card-tienda {
    margin: 1em;
    width: 18%;
    height: 18%;
}

.card-tienda:hover {
    cursor: pointer;
}