<template>
    <div class="slds-grid slds-wrap slds-gutters contenedor">
        <lightning-input type="text" placeholder="Busca una tienda..." class="slds-col slds-size_11-of-12" onchange={actualizarValorBusquedaJs}></lightning-input>
        <button onclick={buscarTiendaJs} class="slds-button slds-col slds-button_icon slds-button_icon-brand" label="Buscar">
            <lightning-icon class="slds-col" variant="inverse" icon-name="utility:search" size="small" alternative-text="Buscar"></lightning-icon>
        </button>

        <template if:true={hayResultados}>
            <div class="slds-grid slds-wrap slds-gutters contenedor">
                <template for:each={tiendasFiltradas} for:item=tienda>
                    <lightning-card key={tienda.Id} data-item={tienda.Id} class="card-tienda slds-col slds-size_1-of-12" onclick={seleccionarTiendaJs}>
                        <lightning-icon icon-name="utility:store" size="small"></lightning-icon>
                        <p class="nombreTienda">{tienda.Name}</p>
                    </lightning-card>
                </template>
            </div>
        </template>
    </div>
</template>