<template>
    <template if:false={tiendaSeleccionada}>
        <c-selector-tienda ontiendaseleccionado={updateTiendaSeleccionadaJs}></c-selector-tienda>
    </template>

    <template if:true={tiendaSeleccionada}>
        <c-carrito carritoitemcount={carritoItemCount}></c-carrito>
        <div class="slds-grid slds-wrap slds-gutters galeria slds-align_absolute-center">
            <c-lista-juegos oncarritoupdated={updateCarritoItemCountJs}></c-lista-juegos>
        </div>
    </template>
</template>